[Unit]
Description="dream"
Wants=dream.timer

[Service]
Type=simple
User=wombat
Group=wombat
ExecStart=/usr/local/bin/python3.10 /home/wombat/hallie-sue-nation/main.py
